<div id="error-box">
	<h1>Unsupported Browser (WebGL Missing)</h1>
	<p>
		Sorry! We can't display this page in your browser because WebGL is either missing
		or disabled. 
	</p>
	<p>
		In order to properly render our 3D Mars Maven visualization, we require a 3D
		rendering technology called
		<a href="https://en.wikipedia.org/wiki/WebGL" target="blank">WebGL</a>. 
		Most modern browsers support this technology, but unfortunately not all of them. 
		Browser support may also vary depending on the operating system and available 
		hardware; for example, Chrome may support WebGL on x86/64 Windows and OSX, but 
		may not on certain distributions of Linux or on certain hardware architectures 
		such as ARM or SPARC. Some browsers may also require a physical graphics card 
		in order to properly support WebGL. 
	</p> 
	<p>
		We recommend trying to load this page in a different browser, or even a different 
		machine. 
	</p> 
	<p>
		You can check if your browser supports WebGL by visiting 
		<a href="https://get.webgl.org/">Get WebGL</a>. If you can see a spinning cube, yet 
		are unable to load this visualization, please let us know! 
	</p> 
</div>